.header{
    padding: 1.2rem;
    cursor:pointer;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 9%;
    width: 33%;
}

.header-recipes{
    color: white;
    text-decoration: none;
}
.header-blog{
    color: white;
    text-decoration: none;

}
.header-join{
    color: white;
    text-decoration: none;

}
.header-register{
    color: rgb(186, 220, 88);
    text-decoration: none;
    border-radius: 6%;
    border:1px solid white;
    background-color: white;
    padding: .6rem 1.5rem;

}